{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container mt-5 p-5">
    <div class="row my-5">
        <div class="col-md-5">
            <img class="image-fluid w-100" style="height: 80%;" src="{% static 'img2.jpg' %}">
        </div>
        <div class="col-md-7 py-3">
            <p>Hello, I'm <strong>Shwetali Sachine Jagdale</strong>, a passionate Front end, Backend developement based in Pune. With a background in Computer Engineering, I've dedicated myself to Web developement.
    
                I specialize in <strong>Django/Python developement</strong> and have had the privilege of working on projects such as Employee Management system and flight schedule system, which you can explore in my portfolio.
                
                Outside of work, I'm an avid making rangoli and kichen work.
                
                I'm excited to share my journey and work with you. Feel free to reach out to me at my contact page or connect with me on Gmail.
                
                Thank you for visiting my website, and I look forward to sharing more with you in the future.</p>
        </div>
    
    </div>
</div>
{% endblock %}