{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
  <div class="row mt-5 p-5">
    <div class="col-md-7">
      <h1 class="fw-bold">Hello,<br> welcome to my Portfolio.</h1>
      <p class="fw-bold">My name is Shwetali Sachin Jagdale.<br> I am a Full stack Developer.</p>
      <a class="btn btn-primary" href="">About ME</a>
    </div>
    <div class="col-md-5">
        <img class="image-fluid w-100" style="height: 80%;" src="{% static 'img1.jpg' %}">
    </div>
  </div>
</div>

{% endblock %}